{% extends 'base.html' %}
{% block body_block %}
<link href="https://fonts.googleapis.com/css?family=Montserrat:500" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Titillium+Web:700,900" rel="stylesheet">
<style>
	.style{
		font-family: 'Titillium Web', sans-serif;
	}
	.rules{
		margin-top: 70px;
	}
	@media screen and (max-width: 600px){
		.rules{
			margin:0px;
			padding-left: 10px;
		}
	}
</style>
<div class="style container">
	  <div class="jumbotron" style="background-color: ">
		<h1 class="h1 style" style="text-align: center;">Reset Password</h1>
		<br>
		<ul class ="rules" style="float: left;">
	  		<li> Your password can't be too similar to your other personal information.</li>
    		<li>Your password must contain at least 8 characters.</li>
    		<li>Your password can't be a commonly used password.</li>
    		<li>Your password can't be entirely numeric.</li>
		</ul>
		<div class="row col-lg-4 col-md-6 col-sm-12 rounded" style="margin: auto;background-color: #bad8f5;">
			<form method="POST" style="width: 100%" enctype="multipart/form-data">
				{% csrf_token %}
			  <div class="form-group">
			    <label for="password">Password</label>
			    <input type="password" class="form-control" id="password" name = 'new_password1' placeholder="Password" required>
			  </div>
			  <div class="form-group">
			    <label for="verify_password">Retype Password</label>
			    <input type="password" class="form-control" id="verify_password" name = 'new_password2' placeholder="Retype" required>
			  </div>
			  <div >
			  	<button type="submit" class="btn btn-primary d-flex justify-content-center">Submit</button>
			  </div>
			 	<br>
			</form>
		</div>
	</div>
</div>
{% endblock %}
