<h2>{{msg}}</h2>

<table class="zui-table">
    <thead>
        <tr>
            <th>Customer</th>
            <th>Blood_Bank</th>
            <th>blood_type</th>
            <th>quantity</th>
            <th>amount</th>
            <th>order_id</th>
            <th>paid</th>

        </tr>
    </thead>
    <tbody>
        <tr>
        <td>{{ data.Customer }}</td>
        <td>{{ data.Blood_Bank }}</td>
        <td>{{ data.blood_type }}</td>
        <td>{{ data.quantity }}</td>
        <td>{{ data.amount }}</td>
        <td>{{ data.order_id }}</td>
        <td>{{ data.paid }}</td>
        </tr>
    </tbody>
    </table>