{% extends 'base.html'%}
{% load static %}
{% block body_block  %}
<style type="text/css">
  .modal-content{
    margin-top:150px;
    margin-bottom: 150px;
  }
  .modal-body,.modal-footer{
    background-color:#e5e5cc;
  }
  body{
    background-color:#e6e6e6;
  }
  .modal-header{
    background-color:#afaf83;
  }
</style>
<div tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{% if invalid %}
  <h3 style="color:red">OTP Error!!! <br>Try again...new OTP sent to mobile!!! </h3>
{% else %}
  <h3>For mobile verification<br>OTP sent to mobile!!!</h3>
  {% endif %}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       <!--check={{gt}}-->
        <form action="{% url 'signup:otp_validation' %}" method="POST" >
            {% csrf_token %}
            
            <div class="form-group">
                <div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="inputGroup-sizing-default">Enter OTP</span>
  </div>
  <input type="text" class="form-control" id="otp" name="otp" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
</div>    
            </div>
            <input type="hidden" value={{uid}} name="uid">
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
  </form>
    </div>
  </div>
</div>
{% endblock %}